<!DOCTYPE html>
<html>
<head>
  <title>UpForGrabs</title>
  <!-- Sets the width of the screen to be equal to the width of the viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">


  <!-- TEMPLATES -->

  <!-- Card Template -->
  <script type="text/template" data-template="item-card" >

    <div class="card">
    <i class="delete-item fa fa-times-circle"></i>
      <div class="image" style="background : url('{{photo}}') no-repeat center; background-size: cover;;">
      </div>
      <div class="info">
        <p><a data-action="view-item">{{description}}</a></p>
        <p>{{color}} {{clothing_type}}, Size {{size}}</p>
        <p><i class="fa fa-user"></i> {{user.name}}</p>
        <p><i class="fa fa-tags"></i> {{#tags}}{{name}} {{/tags}}</p>
      </div>
    </div>

  </script>

  <!-- Guest View Page -->

  <script type="text-template" data-template="guest-index">

    <div class="pure-g">
      <!-- 'about' splash banner thing -->
      <div class="welcome pure-u-1">
        <div class="pure-g">

          <section class="intro-text pure-u-1 pure-u-md-2-3">
            <h1>Find a new home for your unwanted clothing.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae temporibus omnis vel illo, perspiciatis doloribus nisi, deserunt minus nemo, ipsum totam sed asperiores alias, voluptas non officia qui nihil eos.</p>
          </section>
          <section class="intro-img pure-u-1 pure-u-md-1-3"></section>
        </div>  
      </div>
    </div>

    <div class="pure-g">
      <section class="item-header pure-u-1">
        <h1>Recently Added Items</h1>
      </section>
      <section id="guest-items-view" class="items pure-g">
      </section>
    </div>

  </script>

  <!-- Login Form template -->
  <script type="text/template" data-template="login-form">

    <form action="/login" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />

      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="your email heeer" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />

      <input type="submit" name="commit" value="Go!" />

    </form>
    <form class="button_to" method="get" action="/signup"><input type="submit" value="Sign up" /></form>
  </script>



  <!-- Signup form template -->

  <script type="text/template" data-template="signup-form">

    <form enctype="multipart/form-data" action="/api/users" accept-charset="UTF-8" method="post">

      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />

      <label for="email">Email</label>
      <input type="text" name="user[email]" id="email" value="your email heeer" />

      <label for="password">Password</label>
      <input type="password" name="user[password]" id="password" />

      <label>Display Name:</label>
      <input type="text" name="user[name]" id="name" />

      <label>Location:</label>
      <input type="text" name="user[location]" id="location" />

      <label>Tell us aboot yerself:</label>
      <input type="textarea" name="user[about_me]" id="about_me" />

      <label>Avatar Image:</label>
      <input type="file" name="user[avatar]" %>

      <input type="submit" value="Go!" />

    </form>
    <form class="button_to" method="get" action="/signup"><input type="submit" value="Sign up" /></form>
  </script>


  <!-- User Profile View Template -->

<script type="text/template" data-template="user-profile">
  <div class="pure-g">
    <div style="background : url('{{avatar}}') no-repeat center; background-size: cover;" class="profile-image pure-u-1-4"></div>
    <div class="user-info pure-u-3-4">
      <h3>Display Name:<br/> {{name}}</h3>
      <h3>Email address:<br/> {{email}}</h3>
    </div>
  </div>  
  <div class="pure-g">
    <div class="pure-u-1">
      <h3>Location: {{location}}</h3>
      <h3>About Me:</h3>
      <p> {{about_me}}</p>
      <h3>My Closets:</h3>
      {{#closets}}
      <a href="#/closets/{{id}}">{{name}}</a>
      {{/closets}}
      <button data-action="edit-profile">Edit Profile</button>
    </div>
  </div>
</script>

<!-- Edit User Profile Template -->

<script type="text/template" data-template="user-profile-edit">

    <div class="pure-g">
      <div style="background : url('{{avatar}}') no-repeat center; background-size: cover;" class="profile-image pure-u-1-4">
    </div>

    <div class="user-info pure-u-3-4">
      <form id="edit-profile-form" class="pure-form pure-form-stacked" >
        
        <label for="name">Display Name:
          <input class="pure-input-1" type="text" name="user[name]" id="name" value="{{name}}" />
        </label>
        <label for="email">Email address:
          <input class="pure-input-1" type="text" name="user[email]" id="email" value="{{email}}" />
        </label>


      <label for="location">Location:
        <input class="pure-input-1" type="text" name="user[location]" id="location" value="{{location}}" />
      </label>

      <label for="about_me">About Me:
        <input class="pure-input-1" type="textarea" name="user[about_me]" id="about_me" value="{{about_me}}" />
      </label>

      <label for="avatar">Avatar Image:
        <input class="pure-input-1" type="file" name="user[avatar]" id="avatar" %>
      </label>  
      <input data-action="save-profile" type="submit" value="Save changes">

    </div>
  
  </form>

</script>

  <!-- User Closet List View Template -->

<script type="text/template" data-template="user-closets">
  <div class="pure-u-1">
      <h3>My Closets:</h3>
      <div class="cards"></div>
      <button data-action="add-closet">Add Closet</button>
  </div>
</script>

  <!-- Single Closet Show View Template -->

<script type="text/template" data-template="closet-show">
  <div class="pure-u-1">
      <h3>What's in {{name}}'s closet?</h3>
      <div class="cards"></div>
      <button data-action="add-item">Add Item</button>
  </div>
</script>

<!-- Add New Item Form Template -->

<script type="text/template" data-template="add-item">
  <div class="dimmer">
  </div>
  <div class="modal">
    <i class="close-modal fa fa-times-circle"></i>
    <form id="new-item-form" class="pure-form pure-form-stacked">

      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />

      <input name="item[closet_id]" type="hidden" value="{{id}}" />
      
      <label for="clothing_type">Clothing Type:</label>
      <select class="pure-input-1" name="item[clothing_type]" id="clothing_type">
        <option>Dress</option>
        <option>Shirt</option>
        <option>Pants</option>
        <option>Skirt</option>
        <option>Shoes</option>
        <option>Hat</option>
        <option>Other</option>
      </select>

      <label class="pure-input-1" for="description">Description:
        <input type="text" name="item[description]" id="description" />
      </label>

      <label>Size:
      <input class="pure-input-1" type="text" name="item[size]" id="size" />
      </label>

      <label for="color">Color:</label>
      <select class="pure-input-1" name="item[color]" id="color">
        <option>Red</option>
        <option>Orange</option>
        <option>Yellow</option>
        <option>Green</option>
        <option>Blue</option>
        <option>Purple</option>
        <option>Black</option>
        <option>Gray</option>
        <option>White</option>
        <option>Brown</option>
        <option>Multi</option>
        <option>Other</option>
      </select>

      <label>Expiration:</label>
      <input type="date" name="item[expiration_date]" id="expiration_date" value="<% Date.today.to_s %>" />

      <label>Photo:</label>
      <input type="file" name="item[photo]" />

      <button data-action="submit-new-item">Submeat</button>

    </form>
  </div>
</script>

<!-- Add New Item Form Template -->

<script type="text/template" data-template="edit-item-card">
  <div class="dimmer">
  </div>
  <div class="modal">
  <i class="close-modal fa fa-times-circle"></i>
    <form id="new-item-form" class="pure-form pure-form-stacked">

      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
      
      <label for="clothing_type">Clothing Type:</label>
      <select class="pure-input-1" name="item[clothing_type]" id="clothing_type">
        <option value="">CURRENT: {{clothing_type}}</option>
        <option>Dress</option>
        <option>Shirt</option>
        <option>Pants</option>
        <option>Skirt</option>
        <option>Shoes</option>
        <option>Hat</option>
        <option>Other</option>
      </select>

      <label class="pure-input-1" for="description">Description:
        <input type="text" name="item[description]" id="description" value="{{description}}" />
      </label>

      <label>Size:
      <input class="pure-input-1" type="text" name="item[size]" id="size" value="{{size}}" />
      </label>

      <label for="color">Color:</label>
      <select class="pure-input-1" name="item[color]" id="color">
        <option value="">CURRENT: {{color}}</option>
        <option>Red</option>
        <option>Orange</option>
        <option>Yellow</option>
        <option>Green</option>
        <option>Blue</option>
        <option>Purple</option>
        <option>Black</option>
        <option>Gray</option>
        <option>White</option>
        <option>Brown</option>
        <option>Multi</option>
        <option>Other</option>
      </select>

      <label>Expiration:</label>
      <input type="date" name="item[expiration_date]" id="expiration_date" value="{{expiration_date}}" />

      <label>Photo:</label>
      <input type="file" name="item[photo]" />

      <button data-action="submit-new-item">Submeat</button>

    </form>
  </div>
</script>

<!-- Sidebar Menu Template (includes empty user-content div)  -->
<script type="text/template" data-template="menu-template">

  <section class="welcome intro-text pure-u-1">
    <h1>Welcome, {{name}}!</h1>
  </section>
  <section class="pure-g">
    <nav class="menu-list pure-menu pure-u-1 pure-u-md-1-4 ">
      <ul class="menu-ul pure-menu-list">
        <li class="menu-item pure-menu-item"><a class="pure-menu-link" href="/#">Profile</a></li>
        <li class="menu-item pure-menu-item"><a class="pure-menu-link" href="/#user/closets">My Closets</a></li>
        <li class="menu-item pure-menu-item"><a class="pure-menu-link" href="/#items">Browse Clothing</a></li>
        <li class="menu-item pure-menu-item"><a class="pure-menu-link">Wishlists</a></li>
        <li class="menu-item pure-menu-item"><a class="pure-menu-link">Favorite Closets</a></li>
        <li class="menu-item pure-menu-item"><a class="pure-menu-link">Inbawks</a></li>
      </ul>
    </nav>
    <!-- User profile content here -->
    <div id="user-content" class="user-content pure-u-1 pure-u-md-3-4">

    </div>
  </section>        
</script>



<!-- Links and whatnot -->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
</head>
<body>

  <!-- Menu bar -->
  <div class="custom-menu pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link"><i class="fa fa-exchange"></i><span class="menu-logo"> Up For Grabs</span></a>
    <ul class="menu-right pure-menu-list">
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>

      <% if @current_user %>

      <li class="pure-menu-item"><a href="<%= logout_path %>" class="pure-menu-link">Log Out</a></li>

      <% else %>

      <li class="pure-menu-item"><a href="#signup" class="pure-menu-link">Sign up</a></li>
      <li class="pure-menu-item"><a href="#login" class="pure-menu-link">Log In</a></li>
      
      <% end %>

    </ul>
  </div>

  <!-- Main content here -->
  <div class="pure-g">


    <div id="main-content" class="main-content pure-u-1">

      <%= yield %>

      <footer class="pure-g">
        <div class="pure-u-1">
          <p>Footer footer footer footer footer fooooter</p>
        </div>
      </footer>
    </div>
  </div>

</body>
</html>

<!-- hosh kunai - don't want -->